# Frontend dependencies & builds
frontend/node_modules/
frontend/dist/

# Backend virtual environment system files (ignoring environment but keeping backend code)
backend/venv/bin/
backend/venv/include/
backend/venv/lib/
backend/venv/pyvenv.cfg
backend/venv/share/

# Python cache & OS files
**/__pycache__/
*.pyc
.DS_Store

# Environment files with secrets
**/.env
